.container {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.card {
    width: 400px;
    height: 40px;
    color: transparent;
    overflow: hidden;

    border: none;
    border-radius: 20px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(1.5px);

    transition: 0.5s;

}

.card:hover {
    width: 400px;
    height: 550px;

}

.card>h1 {
    cursor: none;
    color: white;
    transition: 0.4s;
}

.card>h1:hover {
    color: transparent;
}

.card>h2 {
    margin: 40px;
    color: skyblue;
}



.button {

    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.5px);
    color: transparent;




    width: 30px;
    height: 40px;
    overflow: hidden;

    border: none;
    border-radius: 30px;

    font-size: large;
    font-weight: bold;

    transition: 0.4s;
}

.button:hover {
    width: 140px;
    height: 40px;

    color: black;
}

.button:active {
    transform: translateY(16px);
}

#src-code {
    font-family: 'Consolas', sans-serif;
    font-size: large;
    font-weight: bolder;

    margin-top: 20px;

    transition: 0.2s;
}

#src-code:link {
    color: black;
}

#src-code:hover {
    color: yellow;
    transform: translateY(-4px);
}

#src-code:active {
    color: red;
    transform: translateY(6px);
}

#src-code:visited {
    color: black;
}